* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.row-num {
  align-self: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.first-container {
  margin-top: 3rem;
}
.first-container div {
  border: 1px solid #d8d6d6;
  width: 25rem;
  /* height: 2.2rem; */
  border-collapse: collapse;
  padding: 0.75rem 1rem;
}
.first-container .first-item {
  background-color: blue;
  color: white;
}
/* grid */
.second-container {
  margin-top: 3rem;
  margin-right: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  grid-template-areas:
    "xs-12 xs-12 xs-12 xs-12"
    "xs-6-1 xs-6-1 xs-6-2 xs-6-2"
    "xs-3-1 xs-3-2 xs-3-3 xs-3-4";
}
.second-container div {
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  color: #b2b2b2;
}
.xs-12 {
  grid-area: xs-12;
}
.xs-6-1 {
  grid-area: xs-6-1;
}
.xs-6-2 {
  grid-area: xs-6-2;
}
.xs-3-1 {
  grid-area: xs-3-1;
}
.xs-3-2 {
  grid-area: xs-3-2;
}
.xs-3-3 {
  grid-area: xs-3-3;
}
.xs-3-4 {
  grid-area: xs-3-4;
}
/* 3rd container */
.third-container {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.third-container button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}
/* 4th container */
.first-row {
  border: 1px solid #d4d3d3;
  width: 20rem;
  padding: 0.5rem 0.5rem;
}
.sub-head {
  display: flex;
  justify-content: space-between;
}
.sub-head .subheading-text {
  font-weight: bold;
}
.line-2 {
  margin: 0.2rem 0 0 1rem;
}
.notification {
  background-color: #0f0ff8;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 3rem;
}
