* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.row-num {
  align-self: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.first-container {
  margin-top: 3rem;
}
.first-container div {
  border: 1px solid #d8d6d6;
  width: 25rem;
  /* height: 2.2rem; */
  border-collapse: collapse;
  padding: 0.75rem 1rem;
}
.first-container .first-item {
  background-color: blue;
  color: white;
}
/* grid */
.second-container {
  margin-top: 3rem;
  margin-right: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  grid-template-areas:
    "xs-12 xs-12 xs-12 xs-12"
    "xs-6-1 xs-6-1 xs-6-2 xs-6-2"
    "xs-3-1 xs-3-2 xs-3-3 xs-3-4";
}
.second-container div {
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  color: #b2b2b2;
}
.xs-12 {
  grid-area: xs-12;
}
.xs-6-1 {
  grid-area: xs-6-1;
}
.xs-6-2 {
  grid-area: xs-6-2;
}
.xs-3-1 {
  grid-area: xs-3-1;
}
.xs-3-2 {
  grid-area: xs-3-2;
}
.xs-3-3 {
  grid-area: xs-3-3;
}
.xs-3-4 {
  grid-area: xs-3-4;
}
/* 3rd container */
.btn {
  /* background-color: DodgerBlue; */
  border: none;
  color: white;
  padding: 12px 12px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}

.btn-navigate {
  border-radius: 80px;
  color: black;
  background-color: lightgray;
}

.btn-navigate span {
  border-radius: 100%;
  text-align: center;
  padding: 0.4rem 0.5rem;
}

.primary {
  background-color: rgb(53, 89, 232);
  color: white;
}

.profile-icon {
  background-color: rgb(142, 140, 140);
  color: lightgray;
}

.profile-icon-primary {
  background-color: rgb(122, 145, 234);
}

.secondary {
  background-color: rgb(250, 75, 110);
  color: white;
}

.profile-icon-secondary {
  background-color: rgb(241, 136, 157);
}

.button-groups {
  margin: 5rem 0;
}

.first-row-button .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.second-row-button {
  margin: 0 4rem;
}

.third-row-button {
  margin: 0 17rem;
}
/* 4th container */
.first-row {
  border: 1px solid #d4d3d3;
  width: 20rem;
  padding: 0.5rem 0.5rem;
}
.sub-head {
  display: flex;
  justify-content: space-between;
}
.sub-head .subheading-text {
  font-weight: bold;
}
.line-2 {
  margin: 0.2rem 0 0 1rem;
}
.notification {
  background-color: #0f0ff8;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 3rem;
}
