* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.row-num {
  align-self: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.first-container {
  margin-top: 3rem;
  width: 65%;
}
.dropdown {
  margin: 4rem 10rem 0 0;
  display: grid;
}
.dropdown select {
  min-height: 2.5rem;
  border-color: #e9dede;
}
/* 2nd container */
.second-container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.second-container .plus-ele {
  background-color: #939393;
  font-size: x-large;
  padding: 0.8rem 1.3rem;
  border-radius: 50%;
  height: fit-content;
  color: white;
}
.second-container .edit-ele {
  background-color: red;
  font-size: x-large;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  height: fit-content;
  color: white;
}
.second-container .like-ele {
  background-color: #d8d6d6;
  font-size: x-large;
  padding: 1rem 1rem 0.6rem 1rem;
  border-radius: 50%;
  height: fit-content;
  color: #7d7d7d;
}
.second-container .navigate-ele {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background-color: rgb(228, 225, 225);
  height: fit-content;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
}
