* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.row-num {
  align-self: center;
  font-size: 3rem;
  margin-top: 3rem;
}
.first-container {
  margin-top: 3rem;
  width: 65%;
}
.dropdown {
  margin: 4rem 10rem 0 0;
  display: grid;
}
.dropdown select {
  min-height: 2.5rem;
  border-color: #e9dede;
}
